

    <footer class="footer bg-dark py-3 mt-auto" style="background-color: #000;">
      <div class="text-center text-white p-3" >
        
        <a class="text-white" href="/">YelpCamp</a> ©2023
      </div>
    </footer>
    

